<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Новая сущность</title>
</head>
<body>
<div>
    <div>
        <a href="newType.html" th:href="@{/new/type}">Добавить тип</a>
    </div>
    <div>
        <a href="newFactory.html" th:href="@{/new/factory}">Добавить завод</a>
    </div>
    <div th:unless="${#lists.isEmpty(allFactories)}">
        <a href="newSeries.html" th:href="@{/new/series}">Добавить серию</a>
    </div>
    <div th:unless="${#lists.isEmpty(allFactories)}">
        <a href="newGroup.html" th:href="@{/new/group}">Добавить группу</a>
    </div>
    <div th:unless="${#lists.isEmpty(allTypes) or #lists.isEmpty(allFactories) or #lists.isEmpty(allSeries) or #lists.isEmpty(allGroups)}">
        <a href="newItem.html" th:href="@{/new/item}">Добавить продукт</a>
    </div>
</div>
</body>
</html>