<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="/webjars/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" media="screen"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Новая сущность</title>
</head>
<body>
<div class="container">
    <div>
        <a href="index.html" th:href="@{/}" class="navbar-brand">На главную</a>
    </div>
    <div class="navbar">
        <a href="new/newType.html" th:href="@{/new/type}" class="navbar-text">Добавить тип</a>
    </div>
    <div class="navbar" th:unless="${#lists.isEmpty(allTypes)}">
        <a href="new/newFactory.html" th:href="@{/new/factory}" class="navbar-text">Добавить завод</a>
    </div>
    <div class="navbar" th:unless="${#lists.isEmpty(allFactories)}">
        <a href="new/newSeries.html" th:href="@{/new/series}" class="navbar-text">Добавить серию</a>
    </div>
    <div class="navbar" th:unless="${#lists.isEmpty(allSeries)}">
        <a href="new/newGroup.html" th:href="@{/new/group}" class="navbar-text">Добавить группу</a>
    </div>
    <div class="navbar" th:unless="${#lists.isEmpty(allGroups)}">
        <a href="new/newItem.html" th:href="@{/new/item}" class="navbar-text">Добавить продукт</a>
    </div>
</div>
</body>
</html>