<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="/webjars/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" media="screen"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Новая сущность</title>
</head>
<body>
<div class="container">
    <div>
        <a href="index.html" th:href="@{/}" class="navbar-brand">На главную</a>
    </div>
    <div>
        <a href="newType.html" th:href="@{/new/type}" class="nav-link">Добавить тип</a>
    </div>
    <div th:unless="${#lists.isEmpty(allTypes)}">
        <a href="newFactory.html" th:href="@{/new/factory}" class="nav-link">Добавить завод</a>
    </div>
    <div th:unless="${#lists.isEmpty(allFactories)}">
        <a href="newSeries.html" th:href="@{/new/series}" class="nav-link">Добавить серию</a>
    </div>
    <div th:unless="${#lists.isEmpty(allFactories)}">
        <a href="newGroup.html" th:href="@{/new/group}" class="nav-link">Добавить группу</a>
    </div>
    <div th:unless="${#lists.isEmpty(allTypes) or #lists.isEmpty(allFactories) or #lists.isEmpty(allSeries) or #lists.isEmpty(allGroups)}">
        <a href="newItem.html" th:href="@{/new/item}" class="nav-link">Добавить продукт</a>
    </div>
</div>
</body>
</html>