<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Новая серия</title>
</head>
<body>
<div>
    <form action="#" th:action="@{/new/series}" th:object="${series}" method="post">
        <input type="hidden" value="0" th:field="*{id}"/>
        <label for="seriesName">Название:</label>
        <input type="text" id="seriesName" th:field="*{name}">
        <label for="seriesDescription">Описание:</label>
        <input type="text" id="seriesDescription" th:field="*{description}">
        <label for="seriesArticle">Артикул:</label>
        <input type="text" id="seriesArticle" th:field="*{article}">
        <label for="factories">Завод:</label>
        <select id="factories" th:field="*{factory}">
            <option th:each="factory:${allFactories}" th:text="|${factory.type.name}: ${factory.name}|" th:value="${factory.id}">Завод</option>
        </select>
        <button type="submit">Создать новую серию</button>
    </form>
</div>
</body>
</html>